In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [11]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
676,tt0880578,35000000,32483410,Untraceable,Diane Lane|Billy Burke|Colin Hanks|Joseph Cros...,Gregory Hoblit,A cyber killer has finally found the perfect a...,Special Agent Jennifer Marsh (Diane Lane) work...,101,Drama,Lakeshore Entertainment|Cohen/Pearl Production...,1/22/2008,5.8,2008
447,tt1219342,80000000,140073390,Legend of the Guardians: The Owls of Ga'Hoole,Emily Barclay|Abbie Cornish|Essie Davis|Joel E...,Zack Snyder,On his way to finding a legend...he will becom...,"Soren, a young barn owl, is kidnapped by owls ...",97,Animation|Adventure|Family|Fantasy,Village Roadshow Pictures|Warner Bros.|Animal ...,7/10/2010,6.5,2010
741,tt1216475,200000000,559852396,Cars 2,Larry the Cable Guy|Owen Wilson|Michael Caine|...,John Lasseter|Brad Lewis,Ka-ciao!,Star race car Lightning McQueen and his pal Ma...,106,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Pixar Animation Studios,6/11/2011,5.8,2011
1270,tt1291580,23000000,15600000,Behind the Candelabra,Michael Douglas|Matt Damon|Rob Lowe|Dan Aykroy...,Steven Soderbergh,Too much of a good thing is wonderful,"Based on the autobiographical novel, the tempe...",118,Drama|Romance,HBO Films,5/26/2013,6.6,2013
1719,tt0499556,25000000,40452643,War,Jet Li|Jason Statham|John Lone|Devon Aoki|Luis...,Philip G. Atwell,Vengeance is the ultimate weapon.,FBI agent Jack Crawford is out for revenge whe...,103,Action|Thriller|Crime,Mosaic Media Group|Current Entertainment|Lions...,8/24/2007,5.9,2007

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [114]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()][['imdb_id', 'budget']]
answers['1'] = data[data.budget == data.budget.max()].imdb_id.values[0]
answers['1']

'tt1298650'

ВАРИАНТ 2

In [115]:
# можно добавлять разные варианты решения
answers['1'] = data[data.budget == data.budget.max()]['imdb_id'].values[0]
answers['1']

'tt1298650'

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [116]:
answers['2'] = data[data.runtime==data.runtime.max()]['imdb_id'].values[0] 
data[data.runtime==data.runtime.max()][['imdb_id', 'runtime']]
answers['2']

'tt0279111'

# 3. Какой из фильмов самый короткий (в минутах)?

In [117]:
answers['3'] = data[data.runtime==data.runtime.min()]['imdb_id'].values[0] 
data[data.runtime==data.runtime.min()][['imdb_id', 'runtime']]
answers['3']

'tt1449283'

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [44]:
answers['5'] = data.runtime.median()
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [118]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
answers['6'] = data.profit.max()
data[data.profit == data.profit.max()][['imdb_id', 'profit']]
answers['6']

2544505847

# 7. Какой фильм самый убыточный?

In [128]:
data['profit'] = data.revenue - data.budget
answers['7'] = data[data.profit == data.profit.min()][['imdb_id'.values[0]
answers['7']

'tt1210819'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [119]:
answers['8'] = data[data.revenue > data.budget].imdb_id.count()
data[data.revenue > data.budget].imdb_id.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
data_grossing = data[(data.release_year == 2008)][['imdb_id','revenue']]
answers['9'] = data_grossing[ data_grossing.revenue == data_grossing.revenue.max() ]['imdb_id'].values[0]
data_grossing[data_grossing.revenue == data_grossing.revenue.max()] 
answers['9']

'tt0468569'

In [122]:
data_grossing = data[(data.release_year == 2008)][['imdb_id','profit']]
answers['9'] = data_grossing[ data_grossing.profit == data_grossing.profit.max() ]['imdb_id'].values[0]
data_grossing[data_grossing.profit == data_grossing.profit.max()]
answers['9']

'tt0468569'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [136]:
data_loss = data[(data.release_year >= 2012)  & (data.release_year <= 2014)][['imdb_id','profit']]
answers['10'] = data_loss[ data_loss.profit == data_loss.profit.min() ]['imdb_id'].values[0]
answers['10']

'tt1210819'

# 11. Какого жанра фильмов больше всего?

In [66]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
unic_genres = list(set('|'.join(data['genres'].unique()).split('|')))
genres_count = {}

for genre in unic_genres:
    genre_ser = data.genres.str.contains(genre)
    genres_count[genre] = 0
    for i in range(len(genre_ser)):
        if genre_ser[i]:
            genres_count[genre] += 1

for key in genres_count.keys():
    if genres_count[key] == max(genres_count.values()):
        answers['11'] = key
answers['11']

'Drama'

In [74]:
geners_df =pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
answers['11'] = geners_df[geners_df.values == geners_df.max()].index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [76]:
geners_df =pd.DataFrame(data[data.profit>0].genres.str.split('|').tolist()).stack().value_counts()
answers['12'] = geners_df[geners_df.values == geners_df.max()].index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [79]:
answers['13'] = data.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
answers['14'] = sum_gen.index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [85]:
max_revenue = {}
actors = ['Chris Hemsworth', 'Nicolas Cage', 'Tom Hardy','Jim Sturgess', 'Emma Stone']

for actor in actors:
    max_revenue[actor] = data[(data.release_year == 2012) & (data.cast.str.contains(actor))].revenue.sum()

for key in max_revenue.keys():
    if max_revenue[key] == max(max_revenue.values()):
        answers['15'] = key
        
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [87]:
actors = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
max_revenue = {}
max_count = {}
max_value_actor = {}

for actor in actors:
    max_revenue[actor] = data[(data.cast.str.contains(actor))].revenue.sum()
    max_count[actor] = data[(data.cast.str.contains(actor))].revenue.count()
    max_value_actor[actor] = max_revenue[actor]/ max_count[actor]

for key in max_value_actor.keys():
    if max_value_actor[key] == max(max_value_actor.values()):
        answers['16'] = key
        
answers['16']

'Tom Cruise'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = 'Action'

cages_geners = data[data.cast.str.contains('Nicolas Cage', na=False)]['genres']
geners = ''

for i in range(len(cages_geners)):
    geners = geners + cages_geners.iloc[i]
cages_geners_list = geners.split('|')

all_cages_geners =  Counter(cages_geners_list)
all_cages_geners

Counter({'Thriller': 3,
         'Action': 7,
         'Science FictionAction': 2,
         'Adventure': 4,
         'Drama': 6,
         'Mystery': 2,
         'Science FictionDrama': 1,
         'CrimeAnimation': 1,
         'Family': 2,
         'CrimeFantasy': 1,
         'Comedy': 3,
         'DramaAction': 1,
         'Crime': 4,
         'ThrillerFantasy': 1,
         'CrimeAction': 1,
         'Fantasy': 4,
         'ThrillerAdventure': 3,
         'ActionCrime': 1,
         'ThrillerAction': 2,
         'ThrillerComedy': 3,
         'DramaDrama': 1,
         'History': 2,
         'WarAction': 1,
         'Animation': 2,
         'FantasyThriller': 1,
         'CrimeCrime': 1,
         'DramaFantasy': 1,
         'FamilyDrama': 1,
         'MysteryAction': 1,
         'ThrillerThriller': 1,
         'HorrorAction': 1,
         'Science Fiction': 1,
         'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures

In [99]:
answers['18'] = data[data.profit == data[data.production_companies.str.contains('Paramount Pictures', na=False)].profit.min()]['imdb_id'].values[0]
answers['18']

'tt0267626'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [101]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending = False)
answers['18'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
data[data.production_companies.str.contains('Warner Bros', na=False)].groupby(['release_year']).profit.sum().sort_values(ascending = False)
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [108]:
def get_mon(dt):
    dt1 = str(dt).split('-')
    return dt1[1]

data['release_month'] = pd.to_datetime(data['release_date'])
data['release_month']  = data.release_month.apply(get_mon)
data.groupby(['release_month']).imdb_id.count()
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [111]:
answers['22'] = data[ (data.release_month == '06') | (data.release_month == '07') | (data.release_month == '08')].groupby(['release_month']).imdb_id.count().sum()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [137]:
data[ (data.release_month == '10') | (data.release_month == '11') | (data.release_month == '12')].groupby(['director']).imdb_id.count().sort_values(ascending=False)
answers['23'] = 'Clint Eastwood'

director
Clint Eastwood               9
Peter Jackson                8
Steven Soderbergh            5
Martin Scorsese              5
Ridley Scott                 5
                            ..
Mort Nathan                  1
Morten Tyldum                1
Nathan Greno|Byron Howard    1
Neil LaBute                  1
Kevin Munroe                 1
Name: imdb_id, Length: 371, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [154]:
data['title_len'] = data['original_title'].apply(len)
data[ data['title_len'] == data['title_len'].max()][['title_len','production_companies']] 
answers['23'] = data[ data['title_len'] == 83]['production_companies'].values[0]
answers['23']

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [161]:
def word_counter(sentens):
    return len(sentens.split())


data['overview_len'] = data['overview'].apply(word_counter)
data[['production_companies', 'overview_len']].overview_len.sort_values(ascending=False) 
answers['25'] = data[ data['overview_len'] == data['overview_len'].max()]['production_companies'].values[0]
answers['25']

'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [164]:
data['vote_average'].sort_values(ascending=False)
data[ data['vote_average'] > 7.89]['original_title']
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['26'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [138]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650',
 '2': 'tt0279111',
 '3': 'tt1449283',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 2544505847,
 '7': 'tt1210819',
 '8': 1478,
 '9': 'tt0468569',
 '10': 'tt1210819',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Action',
 '18': 2015,
 '21': 9,
 '22': 450}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)