In [1]:
import pandas as pd
import os
from pprint import pprint



pd.set_option('display.max_columns', None)
pd.set_option('display.width', 11900)
# print(pd.read_csv('D:\\all_cars.csv', sep=';', encoding = 'utf-8'))

df = pd.read_csv('D:\\all_cars.csv', sep=';', encoding = 'utf-8', low_memory=False)

In [2]:
df.dropna(inplace=True)

## Функции

In [3]:
def get_int_cnt(x):
    if str(x)[-2:] == '.0':
        return x[:-2]
    return x

def describe_df_collumn(data_frame, collumn):
    print('Группировка по значениям:' )
    print(data_frame[collumn].value_counts().head(7))
    print()
    print('Нулевые значения' )
    print(data_frame[collumn].isna().value_counts())

#     print('отсутствует =' ,data_frame[data_frame[collumn].str.contains('отсутствуе', case=False) ][collumn].value_counts()[0 )
    ind = data_frame[data_frame[collumn].str.contains('отсутствуе', case=False) ].index
    print()
    if len(ind) != 0:
        data_frame.drop(ind, inplace=True)
        print( 'Удалено пустых', len(ind) , 'строк')
    else: 
        print( 'Пустых строк нет')

In [4]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [5]:
df.head(3)

            bodyType brand                                            car_url  color complectation_dict  description engineDisplacement enginePower equipment_dict fuelType        image     mileage    modelDate   model_info model_name                     name numberOfDoors parsing_unixtime priceCurrency productionDate      sell_id    super_gen vehicleConfiguration vehicleTransmission       vendor    Владельцы           Владение    Привод       ПТС   Руль           Состояние     Таможня         price
0              седан  Audi  https://auto.ru/cars/used/sale/audi/a6/1101610...  белый        отсутствует  отсутствует                2.0       180.0    отсутствует   Бензин  отсутствует  133 000 км  отсутствует  отсутствует        A6       2.0 CVT (180 л.с.)    отсутствует      отсутствует           RUB         2013.0  отсутствует  отсутствует          отсутствует            вариатор  отсутствует  2 владельца        отсутствует  передний  Оригинал  Левый  Не требует ремонта  Растаможен  от 895 000 ₽
1              седан  Audi  https://auto.ru/cars/used/sale/audi/100/110257...  серый        отсутствует  отсутствует                2.3       133.0    отсутствует   Бензин  отсутствует  350 000 км  отсутствует  отсутствует       100        2.3 MT (133 л.с.)    отсутствует      отсутствует           RUB         1991.0  отсутствует  отсутствует          отсутствует        механическая  отсутствует  3 или более        отсутствует  передний  Оригинал  Левый  Не требует ремонта  Растаможен     145 000 ₽
2  внедорожник 5 дв.  Audi  https://auto.ru/cars/used/sale/audi/q7/1101930...  белый        отсутствует  отсутствует                3.0       249.0    отсутствует   Дизель  отсутствует   76 000 км  отсутствует  отсутствует        Q7   3.0d AT (249 л.с.) 4WD    отсутствует      отсутствует           RUB         2016.0  отсутствует  отсутствует          отсутствует      автоматическая  отсутствует   1 владелец  4 года и 2 месяца    полный  Оригинал  Левый  Не требует ремонта  Растаможен   3 850 000 ₽

# Обработка столбцов

##  0 bodyType

In [6]:
describe_df_collumn(df, 'bodyType')

Группировка по значениям:
внедорожник 5 дв.    49343
седан                23908
лифтбек               5681
хэтчбек 5 дв.         3891
универсал 5 дв.       2664
минивэн               1938
купе                  1111
Name: bodyType, dtype: int64

Нулевые значения
False    92029
Name: bodyType, dtype: int64

Удалено пустых 14 строк

In [7]:
ind = df[ (df['bodyType'] == 'синий') | (df['bodyType'] == 'серебристый') ].index
df.drop(ind)
len(ind)

2

In [8]:
describe_df_collumn(df, 'bodyType')

Группировка по значениям:
внедорожник 5 дв.    49343
седан                23908
лифтбек               5681
хэтчбек 5 дв.         3891
универсал 5 дв.       2664
минивэн               1938
купе                  1111
Name: bodyType, dtype: int64

Нулевые значения
False    92015
Name: bodyType, dtype: int64

Пустых строк нет

## 1 brand

In [9]:
describe_df_collumn(df, 'brand')

Группировка по значениям:
Volkswagen       9007
Mercedes-Benz    9006
BMW              9002
Nissan           8314
Toyota           8299
Audi             8087
Skoda            7363
Name: brand, dtype: int64

Нулевые значения
False    92015
Name: brand, dtype: int64

Пустых строк нет

In [10]:
describe_df_collumn(df, 'brand')

Группировка по значениям:
Volkswagen       9007
Mercedes-Benz    9006
BMW              9002
Nissan           8314
Toyota           8299
Audi             8087
Skoda            7363
Name: brand, dtype: int64

Нулевые значения
False    92015
Name: brand, dtype: int64

Пустых строк нет

## 2 car_url

In [11]:
# дропаем

## 3 color

In [12]:
describe_df_collumn(df, 'color')

Группировка по значениям:
чёрный         30977
белый          20426
серый          10471
серебристый     7889
коричневый      6431
синий           5867
красный         3691
Name: color, dtype: int64

Нулевые значения
False    92015
Name: color, dtype: int64

Пустых строк нет

In [13]:
ind = df[ df['color'] == 'Левый'].car_url.index
df.drop(ind, inplace=True)
len(ind)

2

In [14]:
describe_df_collumn(df, 'color')

Группировка по значениям:
чёрный         30977
белый          20426
серый          10471
серебристый     7889
коричневый      6431
синий           5867
красный         3691
Name: color, dtype: int64

Нулевые значения
False    92013
Name: color, dtype: int64

Пустых строк нет

## 4   complectation_dict

In [15]:
# дропаем

## 5   description

In [16]:
# дропаем

## 6 engineDisplacement

In [17]:
describe_df_collumn(df, 'engineDisplacement')

Группировка по значениям:
2.0    22788
3.0    10760
2.5     9802
1.6     7996
1.8     6579
2.4     6364
3.5     4509
Name: engineDisplacement, dtype: int64

Нулевые значения
False    92013
Name: engineDisplacement, dtype: int64

Пустых строк нет

In [18]:
df['engineDisplacement'].value_counts().index

Index(['2.0', '3.0', '2.5', '1.6', '1.8', '2.4', '3.5', '1.4', '5.6', '1.5', '4.5', '3.7', '4.4', '4.7', '5.7', '3.2', '4.6', '2.7', '5.5', '1.2', '4.0', '4.2', '2.8', '5.0', '3.6', '1.3', '2.1', '115 л.', '2.9', '3.8', '150 л.', '3.3', '109 л.', '2.3', '2.2', '6.2', '1.9', '3.4', '6.0', '1.0', '4.8', '1.7', '3.1', '2.6', '0.7', '5.4', '4.3', '4.1', '408 л.', '6.3', '6.6', '4.9', '5.9', '170 л.', '5.2', '5.8', '1.1', '313 л.', '41 л.', '67 л.', '179 л.', '204 л.', '3.9', '184 л.'], dtype='object')

In [19]:
# df['engineDisplacement'].astype(int)

In [20]:
ind =  df[ (df['engineDisplacement'] == '150\xa0л.')  | 
           (df['engineDisplacement'] == '109\xa0л.')  |
           (df['engineDisplacement'] == '408\xa0л.')  |
           (df['engineDisplacement'] == '313\xa0л.')  |
           (df['engineDisplacement'] == '67\xa0л.')   |
           (df['engineDisplacement'] == '179\xa0л.')  |
           (df['engineDisplacement'] == '204\xa0л.')  |
           (df['engineDisplacement'] == '170\xa0л.')  |
           (df['engineDisplacement'] == '115\xa0л.')  |
           (df['engineDisplacement'] == '184\xa0л.')  |
           (df['engineDisplacement'] == '7\xa0л.')    |
           (df['engineDisplacement'] == '41\xa0л.') ].index 

len(ind)

738

In [21]:
df[ (df['engineDisplacement'] == '150\xa0л.')  | 
           (df['engineDisplacement'] == '109\xa0л.')  |
           (df['engineDisplacement'] == '408\xa0л.')  |
           (df['engineDisplacement'] == '313\xa0л.')  |
           (df['engineDisplacement'] == '67\xa0л.')   |
           (df['engineDisplacement'] == '179\xa0л.')  |
           (df['engineDisplacement'] == '204\xa0л.')  |
           (df['engineDisplacement'] == '170\xa0л.')  |
           (df['engineDisplacement'] == '115\xa0л.')  |
           (df['engineDisplacement'] == '184\xa0л.')  |
           (df['engineDisplacement'] == '7\xa0л.')    |
           (df['engineDisplacement'] == '41\xa0л.') ].brand.value_counts()

Nissan           414
Volkswagen       304
Audi              12
BMW                4
Mercedes-Benz      2
Mitsubishi         2
Name: brand, dtype: int64

In [22]:
df.drop(ind, inplace=True)

In [23]:
describe_df_collumn(df, 'engineDisplacement')

Группировка по значениям:
2.0    22788
3.0    10760
2.5     9802
1.6     7996
1.8     6579
2.4     6364
3.5     4509
Name: engineDisplacement, dtype: int64

Нулевые значения
False    91275
Name: engineDisplacement, dtype: int64

Пустых строк нет

## 7 enginePower

In [24]:
describe_df_collumn(df, 'enginePower')

Группировка по значениям:
150    5221
249    4528
140    2728
180    2500
190    2434
184    2375
152    2245
Name: enginePower, dtype: int64

Нулевые значения
False    91275
Name: enginePower, dtype: int64

Пустых строк нет

In [25]:
df['enginePower'] =df['enginePower'].apply(get_int_cnt)

In [26]:
df[df['enginePower'] == 'отсутствует'].enginePower.value_counts()

Series([], Name: enginePower, dtype: int64)

In [27]:
df['enginePower'].astype(int)

0        180
1        133
2        249
3        150
4        180
        ...
92025    235
92026    190
92027    210
92028    210
92029    249
Name: enginePower, Length: 91275, dtype: int32

In [28]:
describe_df_collumn(df, 'enginePower')

Группировка по значениям:
249    5644
150    5575
180    2968
190    2793
140    2763
184    2492
211    2391
Name: enginePower, dtype: int64

Нулевые значения
False    91275
Name: enginePower, dtype: int64

Пустых строк нет

## 8 equipment_dict

In [29]:
# дропаем

## 9   fuelType

In [30]:
describe_df_collumn(df, 'fuelType')

Группировка по значениям:
Бензин                                72273
Дизель                                17810
Гибрид                                  648
Бензин, газобаллонное оборудование      535
Газ                                       5
Дизель, газобаллонное оборудование        2
Гибрид, газобаллонное оборудование        1
Name: fuelType, dtype: int64

Нулевые значения
False    91275
Name: fuelType, dtype: int64

Пустых строк нет

In [31]:
df['fuelType'] = df['fuelType'].apply(lambda x: x.lower())

In [32]:
# бензин     28601
# дизель      5800
# гибрид       223
# электро       55
# газ            7

In [33]:
def get_fuelType(f_type):
    if f_type == 'бензин, газобаллонное оборудование':
        return 'гибрид'
    if f_type == 'газ, газобаллонное оборудование':
        return 'газ'
    else:
        return f_type

In [34]:
df['fuelType'] = df['fuelType'].apply(get_fuelType)

In [35]:
ind =  df[ (df['fuelType'] == 'дизель, газобаллонное оборудование')  | 
           (df['fuelType'] == 'гибрид, газобаллонное оборудование')  |
           (df['fuelType'] == 'отсутствует')  |
           (df['fuelType'] == 'газ, газобаллонное оборудование')  ].index 
df.drop(ind, inplace=True)
len(ind)

3

In [36]:
describe_df_collumn(df, 'fuelType')

Группировка по значениям:
бензин    72273
дизель    17810
гибрид     1183
газ           6
Name: fuelType, dtype: int64

Нулевые значения
False    91272
Name: fuelType, dtype: int64

Пустых строк нет

## 10  image

In [37]:
# дропаем

## 11 mileage

In [38]:
describe_df_collumn(df, 'mileage')

Группировка по значениям:
117 000 км    838
125 000 км    827
93 000 км     656
140 000 км    635
120 000 км    597
185 000 км    572
65 000 км     544
Name: mileage, dtype: int64

Нулевые значения
False    91272
Name: mileage, dtype: int64

Пустых строк нет

In [39]:
ind = df[df['mileage'] == 'отсутствует'].index
df.drop(ind, inplace=True)
len(ind)

0

In [40]:
df.mileage[1]

'350\xa0000\xa0км'

In [41]:
def get_mileage(x):
    '''Форматирование цены'''
    x = str(x)
    if 'км' in x:
        x = x.strip('км')
    if '\xa0' in x:
        x = x.split('\xa0')
        x = ''.join(x)
    return int(x)

In [42]:
df['mileage'] = df['mileage'].apply(get_mileage)

In [43]:
df['mileage'].isna().count()

91272

## 12 modelDate

In [44]:
df.modelDate  
# дропнем это поле

0        отсутствует
1        отсутствует
2        отсутствует
3        отсутствует
4        отсутствует
            ...
92025    отсутствует
92026    отсутствует
92027    отсутствует
92028    отсутствует
92029    отсутствует
Name: modelDate, Length: 91272, dtype: object

## 13 model_info

In [45]:
df.model_info
# дропнем это поле

0        отсутствует
1        отсутствует
2        отсутствует
3        отсутствует
4        отсутствует
            ...
92025    отсутствует
92026    отсутствует
92027    отсутствует
92028    отсутствует
92029    отсутствует
Name: model_info, Length: 91272, dtype: object

## 14 model_name

In [46]:
describe_df_collumn(df, 'model_name')

Группировка по значениям:
Octavia       3081
CR-V          2393
XC90          2290
Outlander     2138
Camry         1771
X-Trail       1668
Q5            1612
Name: model_name, dtype: int64

Нулевые значения
False    91272
Name: model_name, dtype: int64

Пустых строк нет

In [47]:
df[df['model_name'].str.contains('серии', case=False)].model_name.value_counts()

3 серии                   1392
5 серии                   1141
1 серии                    620
7 серии                    394
6 серии                    225
4 серии                    184
8 серии                     14
2 серии                     12
2 серии Gran Tourer          7
2 серии Active Tourer        5
Name: model_name, dtype: int64

In [48]:
df['model_name'] = df['model_name'].apply(lambda x: x.upper())

In [49]:
def change_seria(model_name):
    if '3 СЕРИИ' in model_name:
        return '3ER'
    if '5 СЕРИИ' in model_name:
        return '5ER'
    if '1 СЕРИИ' in model_name:
        return '1ER'
    if '7 СЕРИИ' in model_name:
        return '7ER'
    if '6 СЕРИИ' in model_name:
        return '6ER'
    if '4 СЕРИИ' in model_name:
        return '4ER'
    if '8 СЕРИИ' in model_name:
        return '8ER'
    if '2 СЕРИИ' in model_name:
        return '2ER'
    if '2 СЕРИИ GRAN TOURER' in model_name:
        return '2ER'
    if '2 СЕРИИ ACTIVE TOURER' in model_name:
        return '2ER'
    if '-' in model_name:
        return model_name.replace('-','_')
    return model_name

In [50]:
df['model_name'] = df['model_name'].apply(change_seria)

In [51]:
len(df[df['model_name'].str.contains('серии', case=False)])

0

In [52]:
describe_df_collumn(df, 'model_name')

Группировка по значениям:
OCTAVIA       3081
CR_V          2393
XC90          2290
OUTLANDER     2138
CAMRY         1771
X_TRAIL       1668
Q5            1612
Name: model_name, dtype: int64

Нулевые значения
False    91272
Name: model_name, dtype: int64

Пустых строк нет

## 15  name

In [53]:
describe_df_collumn(df, 'name')

Группировка по значениям:
5.6 AT (405 л.с.) 4WD         1714
2.5 AT (210 л.с.) 4WD         1560
1.6 AT (110 л.с.)             1379
2.5 AT (181 л.с.)             1184
2.0 CVT (146 л.с.) 4WD        1042
570 5.7 AT (367 л.с.) 4WD     1021
1.8 AMT (180 л.с.)             937
Name: name, dtype: int64

Нулевые значения
False    91272
Name: name, dtype: int64

Пустых строк нет

In [54]:
df['name'].value_counts().tail(20)

US Market 2.4 AT (162 л.с.)        1
2.2 AT (140 л.с.)                  1
Spada 1.5 CVT (150 л.с.) 4WD       1
3.5 AT (268 л.с.)                  1
2.5 AT (186 л.с.) 4WD              1
G35 3.5 MT (260 л.с.)              1
2.0d AT (72 л.с.)                  1
1.8 MT (90 л.с.) 4WD               1
2.8d MT (115 л.с.) 4WD             1
1.6 AT (109 л.с.)                  1
Japan Market 2.0 AT (148 л.с.)     1
1.4d MT (79 л.с.)                  1
3.0 MT (149 л.с.) 4WD              1
2.5d AT (180 л.с.)                 1
1.6 AT (72 л.с.)                   1
435i 3.0 AT (306 л.с.)             1
280 2.8 AT (156 л.с.) 4WD          1
218d 2.0d AT (150 л.с.)            1
220 SE 2.2 MT (120 л.с.)           1
2.5 AT (222 л.с.)                  1
Name: name, dtype: int64

In [55]:
df[df['name'] == '570 5.7 AT (367 л.с.) 4WD'].value_counts()

Series([], dtype: int64)

## 16 numberOfDoors

In [56]:
df['numberOfDoors'].value_counts()

отсутствует    91272
Name: numberOfDoors, dtype: int64

In [57]:
# Предобработка

def get_doors_cnt(x):
    '''Определяет количество дверей по типу кузова'''
    if x in ['внедорожник 5 дв.', 'хэтчбек 5 дв.', 'универсал 5 дв.', 'микровэн']:
        return '5.0'
    if x in ['седан', 'лифтбек', 'минивэн', 'компактвэн', 'пикап двойная кабина', 'седан-хардтоп', 'лимузин'] :
        return '4.0'
    if x in ['хэтчбек 3 дв.', 'внедорожник открытый', 'фастбек', 'фургон', 'внедорожник 3 дв.', 'универсал 3 дв.' ]:
        return '3.0'
    if x in ['купе', 'купе-хардтоп', 'кабриолет', 'родстер', 'седан 2 дв.', 'тарга' , 'пикап полуторная кабина', 'пикап одинарная кабина']:
        return '2.0'
    return 33

In [58]:
df['numberOfDoors'] = df['bodyType'].apply(get_doors_cnt)

In [59]:
df['numberOfDoors'] = df['numberOfDoors'].apply(get_int_cnt)

In [60]:
df['numberOfDoors'].value_counts()

5    55187
4    33162
2     1578
3     1345
Name: numberOfDoors, dtype: int64

In [61]:
df['numberOfDoors'].astype(int)

0        4
1        4
2        5
3        4
4        5
        ..
92025    4
92026    5
92027    5
92028    5
92029    5
Name: numberOfDoors, Length: 91272, dtype: int32

In [62]:
describe_df_collumn(df, 'numberOfDoors')

Группировка по значениям:
5    55187
4    33162
2     1578
3     1345
Name: numberOfDoors, dtype: int64

Нулевые значения
False    91272
Name: numberOfDoors, dtype: int64

Пустых строк нет

## 17 parsing_unixtime

In [63]:
# дропаем

## 18 priceCurrency

In [64]:
# дропаем

## 19 productionDate

In [65]:
describe_df_collumn(df, 'productionDate')

Группировка по значениям:
2013    8233
2014    7611
2012    7127
2011    6719
2015    6608
2018    5776
2008    5609
Name: productionDate, dtype: int64

Нулевые значения
False    91272
Name: productionDate, dtype: int64

Пустых строк нет

In [66]:
df.productionDate.value_counts().sort_values(ascending=False)

2013      8233
2014      7611
2012      7127
2011      6719
2015      6608
          ...
1947         1
1980.0       1
1950         1
1938.0       1
1972         1
Name: productionDate, Length: 109, dtype: int64

In [67]:
df['productionDate'] = df['productionDate'].apply(get_int_cnt)

In [68]:
describe_df_collumn(df, 'productionDate')

Группировка по значениям:
2013    9143
2014    8235
2012    7997
2015    7646
2011    7596
2018    6169
2008    5882
Name: productionDate, dtype: int64

Нулевые значения
False    91272
Name: productionDate, dtype: int64

Пустых строк нет

## 20 sell_id

In [69]:
# дропаем

## 21 super_gen

In [70]:
# дропаем

## 22 vehicleConfiguration

In [71]:
# дропаем

## 23 vehicleTransmission

In [72]:
describe_df_collumn(df, 'vehicleTransmission')

Группировка по значениям:
автоматическая      58661
роботизированная    12506
механическая        10266
вариатор             9839
Name: vehicleTransmission, dtype: int64

Нулевые значения
False    91272
Name: vehicleTransmission, dtype: int64

Пустых строк нет

## 24 vendor

In [73]:
# дропаем

## 25 Владельцы

In [74]:
describe_df_collumn(df, 'Владельцы')

Группировка по значениям:
3 или более    34347
1 владелец     32331
2 владельца    24592
отсутствует        2
Name: Владельцы, dtype: int64

Нулевые значения
False    91272
Name: Владельцы, dtype: int64

Удалено пустых 2 строк

In [75]:
describe_df_collumn(df, 'Владельцы')

Группировка по значениям:
3 или более    34347
1 владелец     32331
2 владельца    24592
Name: Владельцы, dtype: int64

Нулевые значения
False    91270
Name: Владельцы, dtype: int64

Пустых строк нет

## 26 Владение

In [76]:
# дропаем

In [77]:
df['Владение'].value_counts()

отсутствует            78368
1 год и 1 месяц          333
7 лет и 3 месяца         330
1 год и 3 месяца         327
2 года и 3 месяца        313
                       ...
13 лет и 8 месяцев         1
17 лет                     1
25 лет и 5 месяцев         1
22 года и 7 месяцев        1
23 года и 5 месяцев        1
Name: Владение, Length: 246, dtype: int64

In [78]:
ind = df[df['Владение'] == 'отсутствует'].index
# df.drop(ind, inplace=True)
len(ind)

78368

In [79]:
df['Владение'].isna().value_counts()

False    91270
Name: Владение, dtype: int64

## 27 ПТС

In [80]:
describe_df_collumn(df, 'ПТС')

Группировка по значениям:
Оригинал    83002
Дубликат     8268
Name: ПТС, dtype: int64

Нулевые значения
False    91270
Name: ПТС, dtype: int64

Пустых строк нет

## 28 Привод

In [81]:
describe_df_collumn(df, 'Привод')

Группировка по значениям:
полный      53710
передний    30051
задний       7509
Name: Привод, dtype: int64

Нулевые значения
False    91270
Name: Привод, dtype: int64

Пустых строк нет

## 29 Руль

In [82]:
describe_df_collumn(df, 'Руль')

Группировка по значениям:
Левый     90110
Правый     1160
Name: Руль, dtype: int64

Нулевые значения
False    91270
Name: Руль, dtype: int64

Пустых строк нет

## 30 Состояние

In [83]:
# дропаем

## 31 Таможня

In [84]:
describe_df_collumn(df, 'Таможня')

Группировка по значениям:
Растаможен    91270
Name: Таможня, dtype: int64

Нулевые значения
False    91270
Name: Таможня, dtype: int64

Пустых строк нет

In [85]:
#дропаем

## 32 price

In [86]:
describe_df_collumn(df, 'price')

Группировка по значениям:
отсутствует     1926
1 350 000 ₽      715
1 499 000 ₽      508
699 000 ₽        501
899 000 ₽        497
от 895 000 ₽     464
559 000 ₽        461
Name: price, dtype: int64

Нулевые значения
False    91270
Name: price, dtype: int64

Удалено пустых 1926 строк

In [87]:
def get_correct_price(x):
    '''Форматирование цены'''
    x = str(x).strip('от₽')
    x = x.split('\xa0')
    x = ''.join(x)
    return int(x)

In [88]:
df['price']

0          от 895 000 ₽
1             145 000 ₽
2           3 850 000 ₽
3           1 379 000 ₽
4           1 650 000 ₽
              ...
92025       2 420 000 ₽
92026       1 559 259 ₽
92027         925 000 ₽
92028      от 975 000 ₽
92029    от 3 400 000 ₽
Name: price, Length: 89344, dtype: object

In [89]:
df['price'] = df['price'].apply(get_correct_price)

In [90]:
df['price'] = df['price'].astype(int)
df['price']

0         895000
1         145000
2        3850000
3        1379000
4        1650000
          ...
92025    2420000
92026    1559259
92027     925000
92028     975000
92029    3400000
Name: price, Length: 89344, dtype: int32

In [91]:
describe_df_collumn(df, 'price')

Группировка по значениям:
1350000    735
895000     679
699000     653
815000     617
469000     596
1299000    520
1499000    511
Name: price, dtype: int64

Нулевые значения
False    89344
Name: price, dtype: int64

AttributeError: Can only use .str accessor with string values!

In [92]:
df.to_csv('D:\\all_cars_site.csv', sep=';', encoding = 'utf-8')